.PPic{
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10pxpx;
    float: left;
}

.Favoritos{
    font-size: 30px;
}

.Favbooks{
    margin: 20px;
    width: 300px;
    display:inline-grid;
    font-size: 20px;
}

.UserCosas{
    margin: 50px;
    display:inline-grid;
    font-size: 20px;
}

.UserName{
    font-size: 50px;
    float: left;
}

.element{
    background-color: #fde55ada;
}

.AuthorName{
    font-size: 50px;
}



.eliminar{
    float: right;
    padding: 15px;
    background-color: #ff4a4a;
    color: rgb(0, 0, 0);
    margin-top: -100px;
    margin-right: 10px;
    float: right;

}
.Logout{
    padding: 15px;
    background-color: #282c34;
    color: aliceblue;
    margin-top: 10px;
    margin-right: -100px;
    float: right;
}
.add{
    padding: 15px;
    background-color: #282c34;
    color: aliceblue;
    margin-top: 100px;
    margin-right: 10px;
    float: right;
}